@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-x: hidden; /* 가로스크롤 막아둠  */
} 

/* ===== 메인 ===== */
.main {
    height: 100vh;
    position: relative;
    /* padding-top: 60px; */
}

.bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 1.5s ease;
    /* transition: 속성 시간 타이밍함수 지연시간;  */
}

.overlay {
	/* 메인 기준으로 위치*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

/* 검색창 */
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 왼쪽 위가 정중앙에 온 상태이므로 나의 크기에서 가로반 세로반 다시 이동해 중앙 맞춰줌   */
    width: min(90%, 450px);
    /*	둘중에 더 작은값이 width가 된다
    	width: 90%;
		max-width: 450px;
		이렇게 쓰던걸 합침
	*/
    z-index: 10;
}

.search-box input {
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    outline: none;
}
