@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #f4f4f4;
	margin-top: 62px;
}

#footer {
    background-color: #333; /* 어두운 배경 */
    color: #fff;            /* 흰색 글씨 */
    padding: 20px 0;        /* 위아래 여백 */
    text-align: center;     /* 가운데 정렬 */
    width: 100%;
    margin-top: 50px;       /* 본문과 거리 두기 */
    font-size: 14px;
}

.footer-content p {
    margin: 5px 0;          /* 줄 간격 조정 */
}