@charset "UTF-8";

body {
        background-color: #f4e3d6;
        font-family: 'Nanum Myeongjo';
    }
.container {
    width: 600px;
    margin: 120px auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.login-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.login-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-check {
    font-size: 15px;
    color: #555;
}

.admin-check input {
    margin-right: 5px;
}

.login-sign a {
    font-size: 15px;
    text-decoration: none;
    color: #555;
}

.login-sign a:hover {
    text-decoration: underline;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 0 15px;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #f26e02;
}

.login-btn:hover {
    background-color: #d46002;
}

.login-sign {
    text-align: right;
}

.login-sign a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}