@charset "UTF-8";
*{
	font-family: 'Noto Sans KR', sans-serif;
}

header *, .sidebar *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
body {
   padding-top: 60px;
}  
*/

/* 헤더  */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex; 
    align-items: center;
    padding: 0 30px; 
    z-index: 100; 
}

.header-logo {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

/* 메뉴 */
header nav {
	margin-top: 30px;
    margin-left: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li a {
	cursor: pointer;
    text-decoration: none; 
    color: inherit;       
    display: block;       
    width: 100%;
    height: 100%;
}

header nav ul li a:hover {
    color: #ffcc00;
}

/* 오른쪽 영역 */
.header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-login {
    cursor: pointer;
}

.header-login:hover {
    color: #ffcc00;
}

.header-open-sidebar {
    font-size: 22px;
    cursor: pointer;
}

/* 사이드바 */
.header-sidebar {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background: #222;
    color: #fff;
    transition: right 0.4s ease;
    padding: 30px;
    z-index: 200;
}

.header-sidebar.active {
    right: 0;
}

.header-sidebar h6 {
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: right;
    padding: 10px 15px;  
    cursor: pointer;
}

.header-sidebar ul {
    list-style: none;
}

.header-sidebar ul li a{
    padding: 12px 0;
    border-bottom: 1px solid #444;
    cursor: pointer;
    text-decoration: none; 
    color: inherit;       
    display: block;       
    width: 100%;
    height: 100%;
}

.header-sidebar ul li:hover {
    color: #ffcc00;
}